@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .drop-down-menu {
    @apply border-color-theme absolute -right-2 top-[45px] flex flex-col gap-3 rounded-lg
    border-[1px]  border-solid bg-white px-2 py-3 shadow-lg before:absolute
    before:right-[15px] before:top-[-9px]
    
    before:h-4 before:w-4 before:rotate-45 
    before:border-l-[1px] before:border-t-[1px] before:border-solid before:border-gray-300 
    before:bg-white before:content-[''] 
    dark:bg-slate-800 dark:text-slate-300 before:dark:border-slate-800 before:dark:bg-slate-800;
  }

  .heading-text-color {
    @apply text-slate-900 dark:text-slate-200;
  }

  .paragraph-text-color {
    @apply text-slate-700 dark:text-slate-400;
  }

  .bg-color-theme {
    @apply bg-white dark:bg-slate-900;
  }

  .border-color-theme {
    @apply border-gray-300 dark:border-slate-800;
  }

  .personal-cart-shadow {
    @apply shadow-[5px_5px_0_0_rgba(59,130,246,0.5),10px_10px_0_0_rgba(59,130,246,0.4),15px_15px_0_0_rgba(59,130,246,0.3),20px_20px_0_0_rgba(59,130,246,0.2),25px_25px_0_0_rgba(59,130,246,0.1)];
  }
}
